@import "tailwindcss";

@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 container mx-auto px-4;
}

hr {
  @apply my-8 border-gray-400 dark:border-gray-700;
}

h1{
  @apply text-4xl mb-4;
}
h2{
  @apply text-3xl mb-4;
}
